<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <% recordsArr.forEach(items => { %>
            <h2>Country : <%= items.country %></h2>
            <h2>Date : <%= items.date %></h2>
             <% console.log(items) %>
            <a href="/getdetails/<%=items.id%>">View Details</a>
        <% }); %>
    </section>
</body>
</html>